* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4444bb;
  color: white;
  padding: 10px;
  width: 100%;
}
.container a {
  padding: 5px;
  border-right: 2px solid black;
  text-decoration: none;
  color: unset;
}

.container menu {
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

header h1 {
  color: #4444bb;
}

header a {
  background-color: rgb(212, 8, 8);
  text-align: center;
  padding: 10px;
  color: white;
}

#search-input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid blue;
  padding: 0.25rem 0.5rem;
}

main {
  display: flex;
}

main .side-bar {
  padding: 5px;
  list-style: none;
  min-width: 25ch;
}

.side-bar li {
  background-color: #4444bb;
  padding: 5px;
  margin-bottom: 5px;
}

.side-bar li a {
  color: white;
  text-decoration: none;
}

main .products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  flex: 1;
  width: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
}

.product h2 {
  background-color: #4444bb;
  color: white;
  padding: 10px;
}

.product-price {
  background-color: #4444bb;
  color: white;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #4444bb;
  color: white;
  padding: 25px;
}

footer h1 {
  border-bottom: 2px white solid;
}
footer li {
  list-style: none;
  margin: 5px;
}
footer a {
  color: unset;
  text-decoration: none;
}

@media (max-width: 960px) {
  .container,
  header,
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header a {
    width: 98%;
    text-decoration: none;
  }

  .side-bar {
    width: 98%;
  }

  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 10%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 5px;
  }

  /* Style the collapsible content. Note: hidden by default */
  .collapse-menu-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .collapsible {
    display: none;
  }
}
